
  <mat-card class="sample-card">
    <mat-card-header
    >
    </mat-card-header>
    <mat-card-content >
     
        <div class="position"><app-chart></app-chart></div>
        <div
        class="row"
        style="position: relative;
        left: 858px;
        top: 44px;"
      >
      <button mat-button class="btn-color" (click)="openBottomSheet()">
        Citations
      </button>
      </div>
        <h1 style="left: 19px;
        top: -46px;
        width: 838px;
        position: relative;
        font-size: 10px;
        line-height: 18px;">
          <div className="references">
            <div>Upper limb disability. The baseline DAS was evaluated at office visit 1 (prior to treatment); treatments 2-8 reflect evaluation of the prior treatment (ie, Tx 2 reflects the response to Tx 1).</div>
            <div>The DAS uses a 4-point rating scale, with 0 as no disability; 1, mild disability; 2, moderate disability; 3, severe disability.</div>
            <div>(A-D) Top panels: green, DAS scores of 0-1 (none to mild disability); orange, scores of 2-3 (moderate to severe).</div>
            <div> (A-D) Bottom panels: model-estimated means (95% CI).</div>
            <div>***p ≤ .0001; **p ≤ .001; *p ≤ .05. DAS, Disability Assessment Scale; Tx, treatment; UL, upper limb.</div>
          </div></h1>

    </mat-card-content>
  </mat-card>


